<section class="content">
<div class="row">
        <div class="col-xs-12">

  <div class="box box-default">
    

        <div class="box-body">

          <div class="flex">

    <section class="center pos1 slider">
        <div class="col-md-1">
  <div class="box box-solid">
    <div class="box-header">
    <b>F42810</b>

      
    </div>
    <!-- /.box-header -->
    <div class="box-body text-center">
  
       <p>RAV 2019</p> 

          <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">
        
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
    <div class="col-md-1">
  <div class="box box-solid">
    <div class="box-header">
    <b>F450000</b>

      
    </div>
    <!-- /.box-header -->
    <div class="box-body text-center">
  
       <p>RVB</p> 

          <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">
        
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
    <div class="col-md-1">
  <div class="box box-solid">
    <div class="box-header">
    <b>F45539</b>

      
    </div>
    <!-- /.box-header -->
    <div class="box-body text-center">
  
       <p>RAV</p> 

          <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">
        
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>    <div class="col-md-1">
  <div class="box box-solid">
    <div class="box-header">
    <b>F45534</b>

      
    </div>
    <!-- /.box-header -->
    <div class="box-body text-center">
  
       <p>Rav ... 2019</p> 

          <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">
        
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
      <div class="col-md-1">
  <div class="box box-solid">
    <div class="box-header">
    <b>F44543</b>

      
    </div>
    <!-- /.box-header -->
    <div class="box-body text-center">
  
       <p>RAv ...</p> 

          <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">
        
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
     </section>

<section class="pos">
<div class="card" style="width: 18rem;">
<button type="button" class="btn btn-block btn-success">Modifier</button>
<div class="card-body">
<h5 class="card-title">projet</h5>
<p class="card-text"></p>
<button type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-pencil"></i></button>
<button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button>
</div>
</div>


</section>


</div>


</div>
                  

        </div>


  
  </div>

</div>


<div class="row">
<div class="col-xs-12">
  <div class="box box-default">
    <div class="box-header with-border">
      
    </div>

        <div class="box-body">

<div class="fh5co-tab-content active" >
<div class="fh5co-content-inner">



  <div class="row">

      <div class="col-md-1 text-center">
     
    </div>


     <div class=" col-md-1 text-center">
<b>initialisation</b>
 <br> <br>
      <div class="chart" data-percent="35"><span><i class="glyphicon glyphicon-folder-open" style="position: relative;top:40px;"></i></span></div>
    </div>

<div class=" col-md-1 text-center">
<b>Documents d'entrés</b>
      <div class="chart" data-percent="35"><span><i class="glyphicon glyphicon-list-alt" style="position: relative;top:40px;"></i></span></div>
    </div>



      
<div class="col-md-1  text-center">
<b>Documents techniques</b>
      <div class="chart" data-percent="0"><span><i class="glyphicon glyphicon-fire" style="position: relative;top:40px;"></i></span></div>
    </div>




    <div class="col-md-1  text-center">
        <b>Estimaions</b>
            <br> <br>
      <div class="chart" data-percent="0"><span><i class="glyphicon glyphicon-euro" style="position: relative;top:40px;"></i></span></div>
    </div>


    <div class="col-md-1 text-center">
         
        <b>Notices</b>
         <br> <br>

      <div class="chart" data-percent="50"><span><i class=" glyphicon glyphicon-blackboard" style="position: relative;top:40px;"></i></span></div>
    </div>



      
<div class="col-md-1  text-center">
<b>Notice </b>
<br> <br>
      <div class="chart" data-percent="0"><span><i class="glyphicon glyphicon-book" style="position: relative;top:40px;"></i></span></div>
    </div>


    
     
<div class="col-md-1  text-center">
<b>Qualité </b>
<br> <br>

      <div class="chart" data-percent="75"><span><i class="glyphicon glyphicon-text-background" style="position: relative;top:40px;"></i></span></div>
    </div>

    <div class="col-md-1 text-center">

       <b>Courrier</b>
        <br> <br>
      <div class="chart" data-percent="40"><span><i class=" glyphicon glyphicon-envelope" style="position: relative;top:40px;"></i></span></div>
    </div>



      
<div class="col-md-1  text-center">
<b>Signature Envoi</b>
      <div class="chart" data-percent="98"><span><i class=" test glyphicon glyphicon-ok" style="position: relative;top:40px;"></i> </span></div>
    </div>


      
     
<div class="col-md-1  text-center">
<b> Archive</b>
<br> <br>
      <div class="chart" data-percent="45"><span><i class=" glyphicon glyphicon-ok" style="position: relative;top:40px;"></i></span></div>
    </div>
  </div>
</div>




        </div>


  
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">outil et liens utils</h3>
    </div>
    <div class="box-body">
      <button type="button" class="btn btn-success" >
       ARMEN
      </button>
      <button type="button" class="btn btn-success" >
       Imajnet
      </button>
      <button type="button" class="btn btn-success" >
       Seism
       </button>
      <button type="button" class="btn btn-success" >
        Moust-h
      </button>
      <button type="button" class="btn btn-success" >
     fichier de dérogations
     </button>
    </div>
  </div>
</div>
</div>





  <div class="row">
<div class="col-xs-12">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">liste des données d'entrée : ....</h3>
    </div>

        <div class="box-body">


        </div>


  
  </div>
</div>
</div>


<div class="row">
<div class="col-xs-12">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">donné d'entrés nesssaire au projet:</h3>
      <button type="button" style="width:40%;position:relative; left:40%;" data-toggle="modal" data-target="#modal-default" class="btn btn-block btn-primary">Ajouter une nouvelle entrée</button>
    </div>
    <div class="box-body">
          
     
      <div class="progress">
        <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
          <span class="sr-only">20% Complete</span>
        </div>
      </div>
            <input type="text" name="q" [(ngModel)]="searchText" class="form-control" placeholder="Search...">
        <br>
         
      <div class="col-md-6"  *ngFor="let t of tab | filter :searchText " >
<!-- Horizontal Form -->

<div class="box box-info">
<div class="box-header with-border">
<h3 class="box-title"> {{t.name}} </h3>
</div>
<!-- /.box-header -->
<!-- form start -->
<form class="form-horizontal">
<div class="box-body">
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Demande au CEP</label>

  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputEmail3"  [(ngModel)]="t.demande" name="demande" placeholder="Demande au CEP">
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Proposition au CEP</label>

  <div class="col-sm-10">
    <input type="text" class="form-control"    [(ngModel)]="t.proposition" placeholder="Proposition au CEP ">
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Reception</label>

  <div class="col-sm-10">
    <input type="text" class="form-control"  name="reception"  [(ngModel)]="t.reception" placeholder="Reception">
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Validation</label>

  <div class="col-sm-10">
    <input type="text" class="form-control" name="validation"  [(ngModel)]="t.validation" placeholder="Validation">
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
       (la validation doit se faire 2 semaine aprés réception)
      </label>
    </div>
  </div>
</div>
</div>
<!-- /.box-body -->
<div class="box-footer"> 
<button type="button" (click)="delete(t.name)" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-remove"></i></button>
<button type="submit" *ngIf="t.test" (click)="t.test=!t.test" class="btn btn-danger pull-right">Demandé</button>
<button type="submit" *ngIf="!t.test" (click)="t.test=!t.test" class="btn btn-primary pull-right">reçu</button>


</div>

<!--modal -->

<!-- /.box-footer -->
</form>
</div>
<div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Ajouter</h4>
            </div>
            <div class="modal-body">
      
                  <form class="form-horizontal">
                          <div class="box-body">

                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Titre</label>
                                      
                                        <div class="col-sm-10">
                                          <input type="text" name="name" [(ngModel)]="item.name" class="form-control" id="inputEmail3" placeholder="titre">
                                        </div>
                                      </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Demande au CEP : </label>
                          
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="demande"  [(ngModel)]="item.demande" id="inputEmail3" name="demande" placeholder="demande">
                            </div>
                          </div>

                          
                          
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Proposition au CEP : </label>
                          
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="proposition" [(ngModel)]="item.proposition"  id="inputEmail3" placeholder="proposition">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Reception</label>
                          
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="reception"  [(ngModel)]="item.reception"  id="inputEmail3" placeholder="Reception">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Validation</label>
                          
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="validation" ([ngModel])="item.validation" id="inputEmail3" placeholder="Validation">
                            </div>
                          </div>
                          
                          
                          </div>
                          <!-- /.box-body -->
                          
                          <!--modal -->
                          
                          <!-- /.box-footer -->
                          </form>
                  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
              <button type="button" (click)="add(item.name,item.demande,item.proposition,item.reception,item.validation)" class="btn btn-primary" data-dismiss="modal">Ajouter</button>
            </div>
          </div>
      
      </div>
      
      </div>
</div>
    </div>
  </div>
</div>
</div>


<!-- /.modal -->

<!-- /.modal -->
</section>

<router-outlet></router-outlet>