
    
    .slider {
      width: 55%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 5px 20px;
  }

  .slick-slide .card{
   
    transform: scale(0.9);
  }

  .slick-prev:before,
  .slick-next:before {
      color: black;
  }

.slick-center  {
transform: scale(1.1);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}




  
  .slider {
      width: 55%;
      margin: 100px auto;
  }

 

  .slick-slide .card{
   
    transform: scale(0.9);
  }

  .slick-prev:before,
  .slick-next:before {
      color: black;
  }

.slick-center  {
transform: scale(1.1);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */

/* Add some padding inside the card container */




.flex {
display: flex; 

justify-content: space-around;

align-items: center;
background-color: white;

} 

.activeP {
  background-color: grey;
  color: white;
}

